<div class="row-search">
  <app-shipment-filter (changed)="applyFilter($event)" [deleteInput]="deleteInput"></app-shipment-filter>
  <div class="filter-status">
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="statusName" (ngModelChange)="filterStatus()">
        <mat-option *ngFor="let status of statusList" [value]="status">
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter-customer">
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="statusCustomer" (ngModelChange)="customerFilter()">
        <mat-option *ngFor="let status of customerStatus" [value]="status">
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="body-animation" [@cardAnimation]="currentItemsToShow">
  <div *ngFor="let shipment of currentItemsToShow">
    <app-shipment-card [shipment]="shipment" (click)="editShipment(shipment)"></app-shipment-card>
  </div>
</div>

<mat-paginator *ngIf="longitud !== 0" (page)="onPageChange($event, ship)" [length]="longitud" [pageSize]="pageSize"
  [pageSizeOptions]="arrayPaginator">
</mat-paginator>