<hr>
<div>
  <div class="rates-title">
    <div class="icon-title">
      <mat-icon fontSet="material-icons-outlined">monetization_on
      </mat-icon>
      <h2>Rates</h2>
    </div>
    <div class="icon-title button-box">
      <mat-icon>refresh</mat-icon>
      <h3>Re-Quote</h3>
    </div>
  </div>
  <div class="info-rate">
    <div>
      <h4>Rate Type</h4>
      <h5>LTL</h5>
    </div>
    <div>
      <h4>Carrier</h4>
      <h5>Sala</h5>
    </div>
    <div>
      <h4>Service Type</h4>
      <h5>Standar</h5>
    </div>
    <div>
      <h4>SCAC</h4>
      <h5>Sala</h5>
    </div>
    <div>
      <h4>Service Days</h4>
      <h5>2</h5>
    </div>
    <div>
      <h4>Carrier Rate</h4>
      <h5>203.06</h5>
    </div>
    <div>
      <h4>Carrier Rate</h4>
      <h5>263.98</h5>
    </div>
    <div>
      <h4>Carrier Qoute</h4>
      <mat-icon class="rotate-icon">login</mat-icon>
    </div>
    <div>
      <h4>Actions</h4>
      <mat-icon>done</mat-icon>
    </div>
  </div>
  <hr>
  <div class="rate-total">
    <div>
      <h4>Carrier Total:</h4>
      <h5>$203.06</h5>
    </div>
    <div>
      <h4>Customer Total:</h4>
      <h5>$263.98</h5>
    </div>
  </div>
</div>