@import '~src/sass/variables';

.header-color {
  margin: 0px;
  .mat-toolbar{
    background:$blue-0;
    color: $white-0;
    display: flex;
    justify-content: space-between;
  }
  div{
    display: flex;
    align-items: center;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

span {
  margin-left: 30px;
}